@charset "utf-8";
/* 头部 CSS Document */


header{
	width:100%;
	display:flex !important;/*加important是因为会被normaize的display：block覆盖*/
	display:-webkit-flex !important;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	height:60px;
	
}

nav{/*导航栏*/
	display:flex !important;
	display:-webkit-flex !important;
	flex-direction:row;
	-webkit-flex-direction:row;	
	align-items:center;
	width:730px;
	
}
nav ul{/*导航栏的li*/
	width:500px;
	display:flex;
	display:-webkit-flex;
	flex-direction:row;
	-webkit-flex-direction:row;
	text-align:center;	
}
nav li{
	width:110px;	
}
header>div{/*header的新世界logo*/
	display:flex;
	display:-webkit-flex;
	align-items:center;
	height:57px;
	width:160px;
	background:url(../images/logo.png) no-repeat ;	
	padding-left:50px;
	margin-left:7%;
	font-size:30px;

}
#login{/*登录*/
	background:url(../images/user.png) no-repeat;
	padding-left:20px;
	height:52px;
	line-height:52px;
	margin:0px 50px 0px 80px;
	color:red;
}
header a{
	color:#534141;	
}